<footer id="footer">
  <i class="footer-img fa-brands fa-facebook-f"></i>
  <i class="footer-img fa-brands fa-instagram"></i>
  <i class="footer-img fa-brands fa-twitter"></i>
  <i class="footer-img fa-solid fa-envelope"></i>

  <p>© Copyright 2018 TinDog</p>

</footer>
  <!------------------------------------------------Nav------------------------------------------------------->

    <script src="{{ url_for('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('https://kit.fontawesome.com/e66a43891e.js')"></script>
  </body>
</html>
